<header>
    <div id="container">
        <a href="#">Sintia's Corner</a>
    </div>
    <nav>
        <ul>
            <li><a href="#" routerLink="/">Home</a></li>
            <li><a href="#" routerLink="/aboutcareer">AboutMe</a></li>
            <li><a href="#" routerLink="/techstack">TechnologyStack</a></li>
            <li><a href="#" routerLink="/sampleapps">Sample Applications</a></li>
            <li><a href="#" routerLink="/references">References</a></li>
        </ul>
    </nav>

</header>

<div class="container">
    <router-outlet></router-outlet>
</div>